.search-input
  position relative
  margin 10px auto
  padding 10px
  width 20em

  .icon
    padding 10px 20px
    font-size 12pt
    position:absolute; z-index: 2; left:0;
    margin 0px
    color #aaa
  
  .field
    
    input
      padding 10px
      padding-left 35px
      font-size 12pt
      outline none
      width 100%
      background-color: white
      border 1px solid #46c765

.search-area
  margin-bottom 30px
  padding 10px

  &__title
    padding 20px
    font-size 14pt
    color #666
    float left

  &__input
    outline none
    float left
    width 80%
    max-width 1400px
    padding 10px
    margin 10px
    margin-right 0
    font-size 12pt
    border 1px solid #46c765

  &__button
    float left
    padding 10px
    margin 10px
    margin-left 0
    outline none
    border 1px solid #46c765
    background-color #46c765
    font-size 12pt
    color white

  .search-type
    clear both
    padding 10px
    padding-left 100px
    
    label
      padding-left 15px
      user-select none
    